.DS_Store
.vscode
.env
.env.local
.env.development
.env.production

.idea/
.pytest_cache/

venv/

__pycache__/

.venv

frame-websocket/__pycache__/
ai-service/__pycache__/
mapping-service/__pycache__/*
frame-service/__pycache__/main.cpython-39.pyc